.exchange{
  height: 100%;
  padding: 0em 0em;
  font-size: 15px;
}

.exchange-rate-section{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.exchange-section-header{
  font-size: 1.2em;
  font-weight: 500;
  border-bottom: solid 1px #A4A4A4;
  background-color: #f4f4f4;
  color: #327C0B;
  margin: 0;
  padding: 0.5em 0.2em 0.2em 1.5em;
  margin-bottom: 1em;
  text-align: left;
}

.exchange-section__column{
  margin: 0 2em;
}

.exchange-rate-options{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.exchange-rate-options__option{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.exchange-label{
  margin-bottom: 0.3em;
}

.exchange-input{
  margin-bottom: 1em;
  background-color: white;
  border: solid 1px #A4A4A4;
  border-radius: 3px;
  font-size: 1em;
  padding: 0.3em;
}

.exchange-rate{
  flex-grow: 3;
  border: solid 1px #A4A4A4;
  border-radius: 3px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.exchange-rate__sign{
  display:flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
}

.exchange-rate__pivot-value{
  font-size: 1.5em;
  color: #A4A4A4;
  margin: 0.3em;
}

.exchange-rate__currency-value{
  font-size: 2em;
  margin: 0.3em;
  transition: color 1s;
}

.exchange-rate__currency-value--refreshing{
  color:transparent;
}
