.exchange{
  height: 100%;
  padding: 0em 0em;
  font-size: 15px;
}

.exchange-section:not(:last-child){
  padding-bottom: 1em;
}

.exchange-section__header{
  font-size: 1.2em;
  font-weight: 500;
  border-bottom: solid 1px #A4A4A4;
  color: #327C0B;
  margin: 0;
  padding: 0.5em 0.2em 0.3em 1.5em;
  margin-bottom: 1em;
  text-align: left;
}

.exchange-columns{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.exchange-columns__column{
  margin: 0 2em;
  border: none;
}

.exchange-columns__column--1quarter{
  flex-grow: 1;
  flex-basis: 25%;
}

.exchange-columns__column--3quarter{
  flex-grow: 3;
  flex-basis: 65%;
}

.exchange-label{
  margin-bottom: 0.3em;
}

.exchange-input{
  margin-bottom: 1em;
  background-color: white;
  border: solid 1px #A4A4A4;
  border-radius: 3px;
  font-size: 1em;
  padding: 0.3em;
}

.exchange-button{
  margin-top: 1em;
  background-color: white;
  border: solid 1px #327C0B;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 900;
  padding: 0.5em;
  color: #327C0B;
  transition: color 0.2s, background-color 0.2s;
}

.exchange-button:hover{
  background-color: #327C0B;
  color: white;
  cursor:pointer;
}

.exchange-button:disabled{
  background-color: white;
  color: #A4A4A4;
  border-color: #A4A4A4;
  cursor: default;
}

.exchange-rate{
  border: solid 1px #A4A4A4;
  border-radius: 3px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
