.exchange-rate-options{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1em;
}

.exchange-rate-options__option{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.chart-container__invalid-data-message{
  font-weight: 500;
  color: #8C0822;
}
