.app-name{
    font-weight: normal;
    font-size: 3.5em;
    margin: 0px;
    padding: 0.2em;
    background-color: #534741;
    color: #a6cc70;
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
}
